<a href="https://colab.research.google.com/github/HaveFaith07/GISMAR-teaching/blob/main/decision_trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Decision Trees
You should build a machine learning pipeline using a decision tree model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a decision tree model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

In [1]:
import pandas as pd
import sklearn.model_selection
import sklearn.metrics
import sklearn.tree

In [2]:
df = pd.read_csv('mnist.csv')
df = df.set_index('id')
df.head()

,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
id,,,,,,,,,,,,,,,,,,,,,
31953,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34452,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60897,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1981,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
x= df.drop(['class'],  axis =1)
y=df['class']
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y,test_size=0.2) 

print("df:", df.shape)
print("x_train:", x_train.shape)
print("x_test:", x_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

df: (4000, 785)
x_train: (3200, 784)
x_test: (800, 784)
y_train: (3200,)
y_test: (800,)

In [8]:
model = sklearn.tree.DecisionTreeClassifier()

model.fit(x_train,y_train)

DecisionTreeClassifier()

In [11]:
y_predicted = model.predict(x_test)
accuracy = sklearn.metrics.accuracy_score(y_test,y_predicted)

print(accuracy)
accuracy*100

0.78375

78.375